<!DOCTYPE html>
<html ng-app="AngularApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script>
		var myapp = angular.module("AngularApp", []);
		myapp.controller("FormController", function($scope) {
			$scope.username = "";
			$scope.mobile = "";
		});
	</script>
</head>
<body  ng-controller="FormController">
	<div class="container">
		<form role="form" id="sample_form">
			<div class="form-group">
				<label for="username">User Name:</label>
				<input type="text" class="form-control" id="username" ng-model="username">
			</div>
			<div class="form-group">
				<label for="mobile">Mobile Number:</label>
				<input type="text" class="form-control" id="mobile" ng-model="mobile">
			</div>
			<button>Submit</button>
		</form>
		<h3>User Details</h3>
		<table border="1">
			<tbody>
			<tr>
				<th>User name</th>
				<td ng-bind="username"></td>				
			</tr>
			<tr>
				<th>Mobile number</th>
				<td ng-bind="mobile"></td>
			</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>